# Day 1

 [Byte Video](https://www.youtube.com/watch?v=4mrN6IYsMz8)

## Getting strated with Python

In [109]:
# Contents

# 1. Hello World
# 2. Variables
# 3. Numbers
# 4. Casting
# 5. Strings
# 6. Operators

## Hello World!

In [7]:
#print('Hello World!') 
"hello" # string 'hi'
num = "num1"
print(num)

num1

In [1]:
'hi'

'hi'

In [111]:
print("Hello")

Hello

In [10]:
print(10.24)# number(float )
print(10)# integer
print("10.24 "*2)# string
print(7*4)
print("7*5" * 5)

10.24
10
10.24 10.24
28
7*57*57*57*57*5

:gbgvbng
Enter your value: bg
bg

In [12]:
age = input('Enter your name: ')
print(age*2)

Enter your name: 30
3030

In [14]:
age  = int(input('enter your age :'))
print(age+5)

enter your age :4
9

In [115]:
x = '10.24'
y = 10
z = 10.52
a = True
b = 1 + 2j

print(type(x), type(y), type(z), type(a), type(b))

(<type 'str'>, <type 'int'>, <type 'float'>, <type 'bool'>, <type 'complex'>)

In [5]:
x = 10
y = int('20')
print(x+y)

30

In [6]:
print("how are you?")

how are you?

In [18]:
name = input("enter name") 
age = input("enter age")
#this concept is from python basics
print("Hi, ", name)
print("my age", age)

enter namepradip
enter age30
Hi,  pradip
my age 30

### using input()
-  read name, age, gender(isfamale), salary
- explained data

# Comment

In [119]:
# This is a comment
# shortcut to commenting a line is (Ctrl + /)

In [120]:
# Multi line strings

'''Python will ignore string literals that are not assigned to a variable,
you can add a multiline string (triple quotes) in your code,
and place you comment inside it:'''

x  = '''hello
world'''
print(x)

hello
world

In [19]:
a=input()

77

In [20]:
b= int(a)
b*4

308

## Variables

In [123]:
x = 20
print(type(x))                     

y = '10'
print(type(y))

<type 'int'>
<type 'str'>

## Variable Names

A variable can have a short name (like x and y) or a more descriptive name (age, car_name, total_volume).

Rules for Python variables:

    A variable name must start with a letter or the underscore character

    A variable name cannot start with a number

    A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

    Variable names are case-sensitive (age, Age and AGE are three different variables)

In [22]:
a = 30
b = 20
print("a+b=",a+b)
print("a*b=",a*b)
print("a/b=",a/b)
print("a-b =",a-b)
print("a%b =",a%b)
print(a**b)

#30 = 20*1+10
# 20 = 30*0+20
#print(a**2)
a**2

a+b= 50
a*b= 600
a/b= 1.5
a-b = 10
a%b = 10
348678440100000000000000000000

900

In [126]:
a = 20
b = 30
c = 40
print('A = ', a, b, 'C = ', c)
print(a, b)

('A = ', 20, 30, 'C = ', 40)
(20, 30)

In [127]:
# Multiple Assigning

a, b, c = "Orange", "Banana", "Cherry"

print(a, b, c)
# print(y)
# print(z)

('Orange', 'Banana', 'Cherry')

In [29]:
# Assigning same value to multiple variables

x = y = z = 10
z=20
print(x, y, z)

print(y)
# print(z)

10 10 20
10

In [31]:
z=33

x=z
print(x)

33

In [129]:
# + operator

x = 10
y = 20
# c = x+y
print(x+y)

30

In [32]:
x = "Hi "
y = "How "
z = "are "
w = "you? "
a = x+y+z+w
print(a)

Hi How are you?

In [131]:
a = '10'
b = '20'
print(a+b)

1020

In [132]:
# for strings, + works as a combining operator

x = "Python is "
y = "awesome"
z =  x + y
print(x + y)

Python is awesome

In [133]:
# for numbers, + works as an addition operator

x = 5
y = 10
print(x + y)

15

In [135]:
x = 1 + 10.2j
y = 2 + 10j
z = x + y
print(z)

(3+20.2j)

In [136]:
'''Integer'''
# if x bit 0-2^x -1


x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<type 'int'>
<type 'int'>
<type 'int'>

In [137]:
'''Float'''

x = 1.10
y = 1.0
z = -35.59
print(type(x))
print(type(y))
print(type(z))

# '''Float can also be scientific numbers with an "e" to indicate the power of 10.'''

# x = 35e6
# y = 12e4
# z = -87.7e100

# print(x)
# print(y)
# print(z)
# print(type(x))
# print(type(y))
# print(type(z))



x = 35e3
print(type(x))

<type 'float'>
<type 'float'>
<type 'float'>
<type 'float'>

In [138]:
x = 22e10
print(x)

2.2e+11

In [33]:
name = input()
age = int(input())
isfemale= input("True or False")
salary = float(input())
print("my name is ", name)
print("my age is ", age)
print("is i am female?", isfemale)
print("my salary is ",salary)

pradip
30
True or FalseFalse
100000
my name is  pradip
my age is  30
is i am female? False
my salary is  100000.0

In [140]:
x = True
print(type(x))

str
int
float
complex
bool

<type 'bool'>

bool

## Casting

There may be times when you want to specify a type on to a variable.
This can be done with casting. Python is an object-orientated language,
and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:

1. int() - constructs an integer number from an integer literal, a float literal (by rounding down to the previous whole number), or a string literal (providing the string represents a whole number).
        
2. float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer).
          
3. str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals'''

In [7]:
x = 10
y = float(x)
print(y)
print(type(x))

10.0
<class 'int'>

In [144]:
x = float(1)        # x will be 1.0
y = float(2.8)      # y will be 2.8
z = float("3")      # z will be 3.0
w = float("4.2")    # w will be 4.2

print(x, y,'\n',z,'\n', w)      # '\n is used for new line'

print(type(x), type(y), type(z), type(w) )

(1.0, 2.8, '\n', 3.0, '\n', 4.2)
(<type 'float'>, <type 'float'>, <type 'float'>, <type 'float'>)

In [146]:
a = 5
b = 10

c = a+b
print(c)

15

In [147]:
print('hi', 'Hello')

('hi', 'Hello')

# Strings

In [34]:
h = 'hello world'
g = "how are you?"
print(h, g)

hello world how are you?

In [149]:
a = "Hello"
print(a)

Hello

In [150]:
# Multiline string

a = """Hi 
my
name
is 
Pradip"""

print(a)

Hi
my
name
is
Pradip

In [47]:
a = "0123456789"
b =  "987654321"
#print(a[1])
#print(b[3])
#print(a[-4])
#print(b[-2])
print(b[0:5])
print(b[2:9])

98765
7654321

In [16]:
a = "0123456789"
b =  "987654321"
# b[start_index:end_index] 3,4
print("b[4:8] = ",b[4:8])
print("a[2:7]=",a[2:7])
#b[1:6]

b[4:8] =  5432
a[2:7]= 23456

In [19]:
# Accessing a letter in a string

a = "0123456789"
b =  "987654321"
b[6]
#print(b[3:8])
#print(a[1:6])# fisrt is included second is excluded

# getting a range of characters
print(a[-6])          # var[starting_point : ending point : step]

# print(a[::])

In [152]:
# Substring. Get the characters from position 2 to position 5 (not included):

b = "abcdefghij"
print(b[0:4])

abcd

In [11]:
# The strip() method removes any whitespace from the beginning or the end:

a = "   Hello, World!   "
print(a.strip())        # returns "Hello, World!"

Hello, World!

In [49]:
#The len() method returns the length of a string:

a = "Hello how are you?"
print(len(a))

18

In [155]:
#The lower() method returns the string in lower case:

a = "HELLO, WORLD!"
print(a.lower())

hello, world!

In [156]:
# The upper() method returns the string in upper case:

a = "hello, world!"
print(a.upper())

HELLO, WORLD!

'hello, world!'

In [22]:
# The replace() method replaces a string with another string:

a = "Hello, World! world"

print(a.replace("World", "Friend" ))
# a.replace

Hello, Friend! world

In [ ]:
# Task: replace names with your name
name = "my name is names"

In [58]:
# The split() method splits the string into substrings if it finds instances of the separator:
string = "0,1,2,3,4"
print(string[1],string[2])
x = string.split(",")
print(type(string),type(x))
print(x[0],x[1],x[2],x[3])    # returns ['Hello', ' World!']

, 1
<class 'str'> <class 'list'>
0 1 2 3

In [15]:
a = 'hello'

a.capitalize()

'Hello'

In [16]:
import math
a = 1.75
b = 100
print(math.sqrt(b))
print(math.ceil(a))
print(math.floor(a))

10.0
2
1

## Operators

Python Operators:

Operators are used to perform operations on variables and values.

Python divides the operators in the following groups:

    Arithmetic operators
    Assignment operators
    Comparison operators
    Logical operators
    Identity operators
    Membership operators

Arithmetic operators
    
    Arithmetic operators are used with numeric values to perform common mathematical operations:

In [17]:
'''
+	Addition	x + y	

-	Subtraction	x - y	

*	Multiplication	x * y	

/	Division	x / y	

%	Modulus	x % y	

**	Exponentiation	x ** y	

//	Floor division	x // y '''

x = 14
y = 5
c = x/y
z = x//y
print(c , z)

2.8 2

Python Assignment Operators

    Assignment operators are used to assign values to variables:

In [61]:
x = 5
y = 6
#x= x+5
x += 5   # x = x + 5
y -= 5 # y =y-5
print(x)
print(y)

10
1

In [164]:
# =    	x = 5   	    x = 5
# x = 5
# #    +=   	x += 5  	    x = x + 5
# x = x + 5
# x += 5
# print(x)
    
# #    -=   	x -= 3  	    x = x - 3

# x -= 5
# print(x)
   
# #    *=   	x *= 3  	    x = x * 3

# x *= 5
# print(x)

   
#    /=   	x /= 3  	    x = x / 3
   
#    %=   	x %= 3  	    x = x % 3
   
#    //=  	x //= 3 	    x = x // 3

x = 10
x//= 3
x = x//3
   
#    **=  	x **= 3 	    x = x ** 3
x = 10
x **= 5
x = x**5


   
x = 10
x//=3
print(x)

3

In [165]:
x = 10.0
print(x//3)
print(x/3)

3.0
3.33333333333

Python Comparison Operators

    Comparison operators are used to compare two values:

In [62]:
a = 10
b = 20
print(a<b)

True

In [63]:
'''==   	Equal                       	x == y

   !=   	Not equal                   	x != y
   
   >    	Greater than                	x > y
   
   <    	Less than                   	x < y
   
   >=   	Greater than or equal to    	x >= y
   
   <=   	Less than or equal to       	x <= y'''

print('\n')


x = 200
y = 600
z = 50
if x>y and x>z :
    print('x is greatest')
elif y>x and y>z:
    print('y is greatest')
else:
    print('z is greatest')

z is greatest

In [ ]:
# take input number print is even or odd

In [23]:
a=17
if a%2==0:
    print(a, "is even")
else:
    print(a, "odd")

17 odd

### class Assigment
- take number from user
- convert into integer
- check number even or odd

Python Logical Operators

    Logical operators are used to combine conditional statements:

In [24]:
'''and  	Returns True if both statements are true                    	x < 5 and  x < 10

   or   	Returns True if one of the statements is true               	x < 5 or x < 4
   
   not  	Reverse the result, returns False if the result is true     	not(x < 5 and x < 10)'''

a = 40
b = 20
c = 30

print(not c<b)

True

Python Identity Operators

    Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

In [66]:
# is 
#x = 'hie'
#y = 'hi'
x ="10"
y = 10

print(x == y)

True

In [4]:
x = 10
y = 10
print(x is not y)

False

Python Membership Operators
    
    Membership operators are used to test if a sequence is presented in an object:

In [26]:

f = [1, 2, 3, 4]    # List, will see in collection datatypes
e = 2
print(e in f)


'''not in   	Returns True if a sequence with the 
specified value is not present in the object	x not in y'''

f = [1, 2, 3, 4]
e = 5
print(e not in f)
print('\n')

True
True

### Class assignment
- read number
- check number is divisible by 3
- check number is divisible by 5

In [68]:
### HW
- prime number

SyntaxError: invalid syntax (<ipython-input-68-a91972892cf4>, line 2)